
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container my-5">
    <div class="text-center">
        <h1>Bem-vindo ao EASYJOB</h1>
        <p class="lead">Conectando profissionais e oportunidades.</p>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Busque profissionais</h5>
                    <p class="card-text">Encontre o profissional ideal e qualificado para realizar seu serviço.</p>
                    <a href="{%url 'service-list'%}" class="btn btn-primary w-100">Buscar Vagas</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Ofereça mão de obra</h5>
                    <p class="card-text">Cadastre funções oferecidas por você, para que os clientes possam te encontrar com facilidade</p>
                    {% if user.funcao == 'P' %}
                        <a href="{% url 'service-create' %}" class="btn btn-success w-100">Cadastrar Vaga</a>
                    {% else %}
                        <p class="text-warning">Você precisa ser um Prestador para cadastrar vagas.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}