{% extends "base.html" %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 100%; max-width: 500px;">
        <h1 class="text-center mb-4">Cadastro</h1>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
        </form>
        <div class="text-center mt-3">
            <p>Já tem uma conta? <a href="{% url 'login' %}" class="text-primary">Faça login aqui</a></p>
        </div>
    </div>
</div>
{% endblock %}
